@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Space+Mono&display=swap");

body {
  background-color: #f2f2f2;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  overscroll-behavior: none;
}

.cursor-blink::after {
  content: "|";
  animation: blink 1s step-start infinite;
  margin-left: 2px;
  color: black;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.art-item {
  position: absolute;
  transition:
    transform 0.1s ease,
    box-shadow 0.2s ease;
  cursor: grab;
  user-select: none;
  background: transparent;
  touch-action: none;
  pointer-events: auto;
}

/* Garante que os links tenham prioridade de clique e cursor correto */
a {
  text-decoration: none;
  transition:
    color 0.2s,
    text-decoration 0.2s;
  cursor: pointer;

  /* REFORÇO DE CLIQUE */
  position: relative;
  z-index: 9999; /* Garante que fique acima de camadas locais */
  pointer-events: auto !important; /* Força o navegador a aceitar cliques */
}
a:hover {
  text-decoration: line-through;
}

/* Classe para o botão de navegação ativo */
nav button.active {
  text-decoration: line-through;
}
.crosshair-line {
  position: fixed;
  background-color: #a3a3a3;
  pointer-events: none;
  z-index: 9999;
  opacity: 0.6;
}
